<div class="card-item col-12">
  <div class="card hoverable">
    <div class="row g-0">
      <div class="col-md-12">
        <div class="card-body">
          <h3 class="card-title">
            {%- if taught.clickable -%}
            <a href="{{ taught.url | relative_url }}">
            {%- endif -%}
            {{ taught.title }}
            {%- if taught.clickable -%}
            </a>
            {%- endif -%}
          </h3>
          <p class="card-text">{{ taught.description }}</p>
          <div class="row ml-1 mr-1 p-0">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
